<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Our Website</title>
    
  </head>
  <style>
    .button {
      background-color: #6603fb;
      border: none;
      color: white;
      padding: 8px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
  <body style=" background: linear-gradient(to top, #abb0f6,#daf960 100%); height: 900px;">
        <div class="container" style="text-align:center">

        {% include 'navbar.html'%}

        <h1>---About---</h1> 
        <br> 
        <br>
        <h2>What is Employee Management?</h2>
        <p style="font-size: 25px;">Employee management is the effort to help employees do their best work each day<br> in order to achieve the larger goals of the organization. There are many tasks <br>and duties that fall under employee management, but almost all of them can fit into one <br>of five categories:</p>
        <p style="font-size: 25px;">Monitoring includes the measuring and evaluation of employee performance,<br> also called performance management.

          Interaction covers the day-to-day exchanges between managers and reports, as well as <br>among peers, to communicate job expectations, company culture, feedback, and more.
          
          The reward aspect of employee management includes praise, recognition, monetary prizes,<br> and other incentives that managers may offer employees as a result of high performance.
          
          Finally, discipline describes the measures that managers may take to improve low performance,<br> correct mistakes, and enforce company policies. These measures could be as <br>simple as one-on-one meetings, or they could be as serious as termination or legal action.
          
          </p>

        
    
	
  </body>
</html>